[submodule "application/include/assimp"]
	path = application/include/assimp
	url = https://github.com/assimp/assimp
[submodule "application/include/nanogui"]
	path = application/include/nanogui
	url = https://github.com/JanSkvaril/nanogui
